@import "./types.css";
@import "./dimensions.css";

body {
  justify-content: flex-start;
}

.archive {
  align-self: start;
}

.archive-inner {
  height: 100%;
  width: var(--page-width);
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: var(--space-m-l);
}
@media (max-width: 700px) {
  .archive {
    padding-left: var(--space-xs-s);
    padding-right: var(--space-xs-s);
  }
  .archive-inner {
    width: 100%;
  }
}

.row {
  display: grid;
  grid-template-columns: minmax(150px, auto) 4fr;

  align-items: start;
  justify-content: baseline;
}
@media (max-width: 700px) {
  .row {
    display: flex;
    flex-direction: column;

    gap: var(--space-2xs-xs);
  }
}

.value {
  display: flex;
  flex-direction: column;

  gap: var(--space-2xs-xs);

  @media (max-width: 700px) {
    a {
      font-weight: var(--font-bold);
    }
  }
}

.blog {
  font-family: var(--font-reader);
  font-size: var(--step-0);
  line-height: 1.875rem;

  /* background-color: #fffff8; */
  color: #111;
  counter-reset: sidenote-counter;

  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
    padding-left: var(--space-m-l);
  }
  ::marker {
    padding-left: var(--space-3xs-2xs);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-reader);
    font-weight: var(--font-reader-bold);
    margin-top: 0.875rem;
    margin-bottom: 0.5rem;
  }
  h1 {
    font-size: var(--step-3);
  }

  h2 {
    font-size: var(--step-2);
  }

  h3 {
    font-size: var(--step-1);
  }

  hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  :is(strong, .font-bold) {
    font-weight: var(--font-reader-bold);
    letter-spacing: -0.01em;
  }
  em {
    font-style: italic;
  }

  p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(--step-1);
    display: block;
    line-height: 1.2;
  }

  .numeral {
    font-family: var(--font-reader);
  }

  .danger {
    color: red;
  }

  article {
    padding: 0rem 0rem;
  }

  section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* p,
  dl,
  ol,
  ul {
  } */

  p {
    padding-right: 0;
    vertical-align: baseline;
  }
  p + p {
    margin-top: 1rem;
  }

  /* Chapter Epigraphs */
  div.epigraph {
    margin: 5em 0;
  }

  div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  div.epigraph > blockquote,
  div.epigraph > blockquote > p {
    font-style: italic;
  }

  div.epigraph > blockquote > footer {
    font-style: normal;
  }

  div.epigraph > blockquote > footer > cite {
    font-style: italic;
  }
  /* end chapter epigraphs styles */

  blockquote {
    margin-left: 3rem;
    font-size: var(--step-1);
    font-style: italic;
    width: 80%;
  }

  blockquote footer {
    font-size: var(--step--1);
    text-align: right;
  }

  section > p,
  section > footer,
  section > table {
    width: 55%;
  }

  /* 50 + 5 == 55, to be the same width as paragraph */
  section > dl,
  section > ol,
  section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
  }

  dt:not(:first-child),
  li:not(:first-child) {
    margin-top: 0.25rem;
  }

  figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
  }

  figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--step--1);
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
  }

  figure.fullwidth figcaption {
    margin-right: 24%;
  }

  a:link,
  a:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
  }

  /* Sidenotes, margin notes, figures, captions */
  img {
    max-width: 100%;
  }

  .sidenote,
  .marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: var(--step--1);
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
  }

  .sidenote-number {
    counter-increment: sidenote-counter;
  }

  .sidenote-number:after,
  .sidenote:before {
    font-family: var(--font-reader);
    position: relative;
    vertical-align: baseline;
  }

  .sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: var(--step--1);
    top: -0.5rem;
    left: 0.1rem;
  }

  .sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: var(--step--1);
    top: -0.5rem;
  }

  blockquote .sidenote,
  blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
  }

  div.fullwidth,
  table.fullwidth {
    width: 100%;
  }

  div.table-wrapper {
    overflow-x: auto;
    font-family: var(--font-reader);
  }

  .sans {
    font-family: var(--font-reader);
    letter-spacing: 0.03em;
  }

  code,
  pre > code {
    font-family: monospace;
    font-size: var(--step--1);
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
  }

  .sans > code {
    font-size: var(--step--1);
  }

  h1 > code,
  h2 > code,
  h3 > code {
    font-size: var(--step--1);
  }

  .marginnote > code,
  .sidenote > code {
    font-size: var(--step--1);
  }

  pre > code {
    font-size: var(--step--1);
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
  }

  pre.fullwidth > code {
    width: 90%;
  }

  .fullwidth {
    max-width: 90%;
    clear: both;
  }

  span.newthought {
    font-variant: small-caps;
    font-size: var(--step-0);
  }

  input.margin-toggle {
    display: none;
  }

  label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
  }

  label.margin-toggle:not(.sidenote-number) {
    display: none;
  }

  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 700px) {
    article {
      padding-left: var(--space-xs-s);
      padding-right: var(--space-xs-s);
    }

    hr,
    section > p,
    section > footer,
    section > table {
      width: 100%;
    }

    pre > code {
      width: 97%;
    }

    /* section > dl,
    section > ol,
    section > ul {
      width: 90%;
    } */

    figure {
      max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
      margin-right: 0%;
      max-width: none;
    }

    blockquote {
      margin-left: 1.5em;
      margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
      width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
      display: inline;
    }

    .sidenote,
    .marginnote {
      display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
      display: block;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      vertical-align: baseline;
      position: relative;
    }

    label {
      cursor: pointer;
    }

    div.table-wrapper,
    table {
      width: 85%;
    }

    img {
      width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .blog {
    color: #ddd;
  }
}
