@import "dimensions.css";

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xs-xs);

  height: 100%;
  width: fit-content;

  aspect-ratio: 3/2;

  max-height: 75vh;
  max-width: 75vw;

  --current-slide: 0;
}
@media (max-width: 800px) {
  .carousel {
    padding-left: var(--space-xs-s);
    padding-right: var(--space-xs-s);

    max-width: 100%;

    box-sizing: border-box;
  }
}

.slides-wrapper {
  height: 100%;
  width: fit-content;

  position: relative;
}

@media (max-width: 800px) {
  .slides-wrapper {
    width: 100%;
    aspect-ratio: unset;
  }
}

.slides {
  display: flex;
  align-items: center;

  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  height: 100%;
  width: 100%;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;

  scroll-snap-align: center;

  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));

  height: 100%;
  width: 100%;

  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .caption {
    display: none;
  }
}
/* 
@media (max-width: 800px) {
  .slide {
    gap: var(--space-2xs-xs);
    .caption {
      display: block;
    }
  }
} */

/* .captions {
  display: flex;

  overflow: scroll;

  width: 100%;
}
@media (max-width: 800px) {
  .captions {
    display: none;
  }
}
.caption {
  flex-shrink: 0;
  max-width: 75vw;

  transform: translateX(calc(-100% * var(--current-slide)));

  height: 1lh;
  width: 100%;

  > span:first-child {
    float: left;
  }
  > span:last-child {
    float: right;
  }
} */

.left {
  height: 100%;
  width: 50%;

  position: absolute;

  z-index: 10;

  left: 0%;
  cursor: w-resize;
}
.right {
  height: 100%;
  width: 50%;

  position: absolute;

  z-index: 10;

  left: 50%;
  cursor: e-resize;
}

@media (max-width: 800px) {
  .left {
    display: none;
  }

  .right {
    display: none;
  }
}
