@import "./dimensions.css";

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xs-xs);

  height: 100%;
  width: var(--page-width);
  max-width: 100%;

  --current-slide: 0;
}
@media (max-width: 700px) {
  .carousel-wrapper {
    padding-left: var(--space-xs-s);
    padding-right: var(--space-xs-s);
  }

  .carousel {
    width: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
}

.slides-wrapper {
  position: relative;
}
@media (max-width: 700px) {
  .slides-wrapper {
    display: contents;
  }
}

.slides {
  display: flex;
  align-items: center;

  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  height: 100%;
  width: 100%;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--space-2xs-xs);

  scroll-snap-align: center;

  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));

  height: 100%;
  width: 100%;

  .caption {
    display: none;
  }
}
@media (max-width: 700px) {
  .slide {
    .caption {
      display: unset;
    }
  }
}

.captions {
  display: flex;

  overflow: scroll;

  width: 100%;
}
@media (max-width: 700px) {
  .captions {
    display: none;
  }
}
.caption {
  flex: 0 0 auto;

  transform: translateX(calc(-100% * var(--current-slide)));

  height: 1lh;
  width: 100%;

  > span:first-child {
    float: left;
  }
  > span:last-child {
    float: right;
  }
}
@media (max-width: 700px) {
  .caption {
    flex: 0 1 auto;
  }
}

.left {
  height: 100%;
  width: 50%;

  position: absolute;

  z-index: 10;

  left: 0%;
  cursor: w-resize;
}
.right {
  height: 100%;
  width: 50%;

  position: absolute;

  z-index: 10;

  left: 50%;
  cursor: e-resize;
}

@media (max-width: 700px) {
  .left {
    display: none;
  }

  .right {
    display: none;
  }
}
