@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: block;
	src: url('/InterVariable.woff2') format('woff2');
}
@font-face {
	font-family: InterVariable;
	font-style: italic;
	font-weight: 100 900;
	font-display: block;
	src: url('/InterVariable-Italic.woff2') format('woff2');
}

@theme {
	--font-sans: InterVariable, sans-serif;
	--font-serif: InterVariable, sans-serif;
	--default-font-feature-settings: 'calt', 'tnum', 'ss03';
	--spacing: 1rem;

	--font-weight-normal: 380;
	--text-md: 1rem;
	--text-lg: 1.1rem;
}

@layer components {
	body {
		@apply flex h-dvh flex-col items-center justify-between bg-neutral-50 text-neutral-950 dark:bg-neutral-900 dark:text-neutral-50;
	}

	header,
	footer {
		@apply left-0 flex w-full flex-row justify-between px-1 text-xl font-semibold tracking-tight md:w-48 md:max-w-full md:px-0 md:text-3xl;
	}
	header {
		@apply top-0 pt-1;
	}
	footer {
		@apply bottom-0 pb-1;
	}

	main {
		@apply flex w-full flex-col px-1 md:w-48 md:max-w-full md:px-0;
		@apply text-lg text-pretty;
	}

	div.blog_main {
		@apply flex flex-col gap-1.5 md:gap-2;
	}

	div.info_main {
		@apply flex flex-col gap-1.5 first:pt-1.5 last:pb-1.5 md:gap-2 md:first:pt-2;
	}

	div.archive_main {
		@apply flex w-full flex-col gap-1.5 first:pt-1.5 md:gap-1.5 md:first:pt-2;

		div.items {
			@apply flex min-w-0 flex-col gap-1;

			div.item {
				@apply flex flex-col justify-items-start gap-0;

				div.links {
					@apply w-full md:flex md:flex-row md:gap-0.5;

					a.title {
						@apply font-medium uppercase md:overflow-hidden md:text-ellipsis md:whitespace-nowrap;
					}

					a.readwise {
						@apply text-yellow-700 dark:text-yellow-600;
					}
				}

				&:hover div.info {
					@apply md:max-h-[2000px] md:opacity-100;
				}

				div.info {
					@apply flex flex-col justify-items-start text-sm md:max-h-0 md:overflow-hidden md:text-base md:opacity-0 md:duration-150 md:ease-in-out;

					div.summary {
						@apply max-h-0 overflow-hidden text-sm opacity-0 md:max-h-full md:overflow-hidden md:text-base md:opacity-100 md:duration-150 md:ease-in-out;
						div {
							@apply pt-0.5;
						}
					}

					label.tags {
						@apply flex flex-wrap gap-0.5 gap-y-[0.125rem] pt-0.5 text-sm uppercase;

						span.tag::before {
							content: '#';
							@apply mr-0;
						}
					}

					.toggle {
						@apply hidden;
					}

					.toggle:checked ~ div.summary {
						@apply max-h-[2000px] opacity-100;
					}
				}
			}
		}
	}

	article.blog-article {
		@apply prose prose-base dark:prose-invert;
		@apply text-pretty hyphens-auto;
		@apply text-neutral-950 marker:text-yellow-700 dark:text-neutral-100 marker:dark:text-yellow-600;
		@apply w-full max-w-full;

		--tw-prose-quote-borders: var(--color-yellow-700);
		--tw-prose-invert-quote-borders: var(--color-yellow-700);
	}

	div.barchart {
		@apply block w-full max-w-full md:flex;

		div.chart-container {
			@apply flex h-15 w-full items-end gap-1 align-bottom md:h-20 md:justify-between md:gap-2;
		}

		div.bar-wrapper {
			@apply flex h-full min-w-1 flex-1 flex-col items-center justify-end align-bottom;
		}

		div.bar-container {
			@apply flex h-full w-full flex-col justify-end;
		}

		div.bar {
			@apply flex min-h-2 w-full items-center justify-center rounded-sm bg-neutral-600 md:rounded-md dark:bg-neutral-400;
		}

		span.bar-count {
			@apply text-xs font-bold text-neutral-50 md:text-sm dark:text-neutral-900;
		}

		div.bar-label {
			@apply mt-1 text-center text-[0.625rem] font-medium uppercase md:text-xs md:text-nowrap;
		}
	}

	a {
		@apply z-1 text-neutral-950 transition-colors duration-200 ease-in hover:text-neutral-500 dark:text-neutral-50 hover:dark:text-neutral-400;
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

html {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
}
*::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

.footnotes {
	hr {
		@apply my-2 border-neutral-500 dark:border-neutral-400;
	}

	li,
	p {
		@apply text-sm;
	}
}
