@import "dimensions.css";

.info {
  padding-top: calc(3 * var(--space-xs-s) + var(--step-1));
  padding-bottom: calc(2 * var(--space-xs-s) + var(--step-1));
  padding-left: var(--space-xs-s);
  padding-right: var(--space-xs-s);

  align-self: flex-start;
}

.info-inner {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: var(--space-m-l);
}
@media (max-width: 700px) {
  .info-inner {
    width: 100%;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr;

  align-items: start;

  div:first-child {
    line-height: 1.5;
  }
}
@media (max-width: 700px) {
  .row {
    display: flex;
    flex-direction: column;

    gap: var(--space-2xs-xs);
  }
}

.value {
  display: flex;
  flex-direction: column;

  line-height: 1.5;

  gap: var(--space-2xs-xs);
}
