@font-face {
	font-family: "Authentic Sans";
	src: url("/AUTHENTICSans-90.woff2");
	font-weight: 90;
}
@font-face {
	font-family: "Authentic Sans";
	src: url("/AUTHENTICSans-130.woff2");
	font-weight: 130;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|5,s-l&g=s,l,xl,12 */

:root {
	/* Step -2: 11.1111px → 11.52px */
	--step--2: clamp(0.6944rem, 0.6856rem + 0.0444vw, 0.72rem);
	/* Step -1: 13.3333px → 14.4px */
	--step--1: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
	/* Step 0: 16px → 18px */
	--step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
	/* Step 1: 19.2px → 22.5px */
	--step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
	/* Step 2: 23.04px → 28.125px */
	--step-2: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
	/* Step 3: 27.648px → 35.1563px */
	--step-3: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
	/* Step 4: 33.1776px → 43.9453px */
	--step-4: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
	/* Step 5: 39.8131px → 54.9316px */
	--step-5: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);

	--font-base: system-ui, sans-serif;
	--font-display: "Authentic Sans", var(--font-base);
	--font-mono: monospace;
  
	--font-bold: 130;
	--font-semibold: 130;
	--font-normal: 90;
  }