---
import { getCollection } from "astro:content";
import Page from "../layouts/page.astro";
import Textorlink from "../components/textorlink.astro";
import Row from "../components/row.astro";

const archiveEntries = await getCollection("readwise-archive");

const items = new Map<string, (typeof archiveEntries)[0][]>();
for (const entry of archiveEntries) {
	const dateGroup = entry.data.dateGroup;
	if (!items.has(dateGroup)) {
		items.set(dateGroup, []);
	}
	items.get(dateGroup)?.push(entry);
}
---

<Page title="Reading Archive">
	<Fragment slot="header">
		<Textorlink content="READING ARCHIVE" />
		<Textorlink content="CLOSE" href="/" />
	</Fragment>
	<Fragment slot="main">
		<div class="archive_main">
			{
				Array.from(items.entries()).map(([date, items]) => (
					<Row>
						<Fragment slot="key">{date === "" ? "XYZ" : date}</Fragment>
						<Fragment slot="value">
							<div class="items">
								{items.map((item) => (
									<div class="item">
										<div class="links">
											<a
												href={item.data.url.href}
												target="_blank"
												rel="noopener noreferrer"
												class="title"
											>
												{item.data.title}
											</a>
										</div>
									</div>
								))}
							</div>
						</Fragment>
					</Row>
				))
			}
		</div>
	</Fragment>
</Page>
