---
import Portfolio from "../layouts/portfolio.astro";
import Profile from "../layouts/profile.astro";

import "../../styles/output.css";
import "/node_modules/reveal.js/dist/reveal.css";
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script is:inline src="/node_modules/reveal.js/dist/reveal.js"></script>
  </head>
  <body>
    <main class="flex-col columns-1 min-h-80 overflow-x-hidden text-md">
      <Portfolio title="Tejas Sanap" />
      <Profile />
    </main>
  </body>
</html>
