---
import Portfolio from "../layouts/portfolio.astro";
import Profile from "../layouts/profile.astro";

import SpeedInsights from "@vercel/speed-insights/astro";

import "../../styles/output.css";
---

<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <SpeedInsights />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main class="flex flex-col overflow-x-hidden text-sm md:text-base">
      <Portfolio title="Tejas Sanap" />
      <Profile />
    </main>
  </body>
</html>
