---
import Slideshow from "../components/slideshow.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import SpeedInsights from "@vercel/speed-insights/astro";

import "../../styles/output.css";
---

<html>
  <head>
    <SpeedInsights />
  </head>
  <body>
    <main
      class="flex flex-col justify-between w-screen h-screen overflow-x-hidden"
    >
      <Header />
      <Slideshow />
      <Footer />
    </main>
  </body>
</html>
