---
import Row from "../components/row.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link
      rel="preload"
      href="/AUTHENTICSans-90.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/AUTHENTICSans-130.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <title>Tejas Sanap | Portfolio</title>
  </head>
  <body>
    <header>
      <div>
        <h1><a href="/">TEJAS SANAP</a></h1>
      </div>
      <div></div>
      <div>
        <h1><a href="/">CLOSE</a></h1>
      </div>
    </header>

    <main>
      <section class="info">
        <Row key="Profile">
          <p>
            A software engineer and street photographer based in London, UK.
          </p>
        </Row>
        <Row key="Things I believe">
          <p>All software is a tool, a means to an end.</p>
          <p>A good tool is simple and intuitive to use.</p>
          <p>Software is made "for" humans.</p>
        </Row>
        <Row key="Experience">
          <p>
            <a href="https://tably.com">Tably</a>, 2021&mdash;Present
          </p>
          <p>
            <a href="https://wipro.com">Wipro</a>, 2019&mdash;2021
          </p>
        </Row>
        <Row key="Education">
          <p>
            Bachelors in Mechanical Engineering, <a
              href="https://www.unipune.ac.in">SPPU</a
            >, 2016&mdash;2019
          </p>
        </Row>
        <Row key="Elsewhere">
          <p>
            <a href="https://www.linkedin.com/in/whereistejas">Linkedin</a>,
            <a href="https://www.github.com/whereistejas">Github</a>,
            <a href="https://www.x.com/whereistejas">X</a>
          </p>
        </Row>
      </section>
    </main>
  </body>
</html>
