---
import "../styles/global.css";
import "../styles/blog.css";

import Textorlink from "./textorlink.astro";
import PageStart from "./pagestart.astro";

const { frontmatter } = Astro.props;

const headers = [
  { type: "text", content: (frontmatter.title as string).toUpperCase() },
  { type: "text", content: "" },
  { type: "link", content: "CLOSE", href: "/archive" },
];
---

<PageStart>
  <Fragment slot="header">
    {
      headers.map((el) => (
        <Textorlink type={el.type} content={el.content} href={el.href} />
      ))
    }
  </Fragment>
  <Fragment slot="main">
    <div class="blog">
      <article>
        <slot />
      </article>
    </div>
  </Fragment>
</PageStart>
