<div class="w-full">
  <div class="absolute bottom-0 left-0">
    <div class="p-3">
      <h1>BIO</h1>
    </div>
  </div>
  <div class="absolute bottom-0 left-1/2 -translate-x-1/2 transform-gpu">
    <div class="p-3">
      <h1>COLOPHON</h1>
    </div>
  </div>
  <div class="absolute bottom-0 right-0">
    <div class="p-3">
      <h1>TEJAS SANAP</h1>
    </div>
  </div>
</div>
