---
import { getImage } from "astro:assets";

let images: Record<string, any>[] = await Astro.glob("../assets/*.jpg");

const slides = await Promise.all(
  images.map(async (image_path) => {
    const img = image_path.default;
    const path = img.fsPath;

    let image = (await getImage({ src: img, format: "jpg" })).options
      .src as ImageMetadata;

    return image;
  })
);

import "../styles/global.css";
---

<html lang="en">
  <head>
    <!--
  Like to view source? We might get along
  email@whereistejas.xyz
-->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link
      rel="preload"
      href="/AUTHENTICSans-90.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/AUTHENTICSans-130.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    {
      slides.map((slide) => (
        <link rel="preload" href={slide.src} as="image" type="image/jpeg" />
      ))
    }

    <title>Tejas Sanap | Portfolio</title>
  </head>
  <body>
    <header>
      <slot name="header" />
    </header>

    <main>
      <slot name="main" />
    </main>

    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
