---
// import { ViewTransitions } from "astro:transitions";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <!--
  Like to view source? We might get along
  email@whereistejas.xyz
-->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link
      rel="preload"
      href="/AUTHENTICSans-90.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/AUTHENTICSans-130.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- <ViewTransitions /> -->

    <title>Tejas Sanap | Portfolio</title>
  </head>
  <body>
    <header>
      <slot name="header" />
    </header>

    <main>
      <slot name="main" />
    </main>

    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
