---
import Section from "./section.astro";
---

<!-- TODO: Increase Gap. -->
<div class="grid grid-cols-1 gap-y-4 w-full pt-8 pl-4 pb-4 pr-4">
  <Section key="Profile">
    <p>A software engineer and street photographer.</p>
  </Section>
  <Section key="Things I believe">
    <p>All software is a tool, a means to an end.</p>
    <p>A good tool is simple and intuitive to use.</p>
    <p>Software is made "for" humans.</p>
  </Section>
  <Section key="Experience">
    <div>
      <a href="https://tably.com">Tably</a>, 2021&mdash;Present
    </div>
    <div>
      <a href="https://wipro.com">Wipro</a>, 2019&mdash;2021
    </div>
  </Section>
  <Section key="Education">
    <div>
      <a href="https://www.unipune.ac.in">SPPU</a>, 2016&mdash;2019
    </div>
    <p class="indent-4">Bachelors in Mechanical Engineering</p>
  </Section>
  <Section key="Contact">
    <div>
      Email <a href="mailto:email@whereistejas.xyz">email@whereistejas.xyz</a>
    </div>
    <div>
      Instagram <a href="https://www.instagram.com/whereistejas">whereistejas</a
      >
    </div>
    <div>
      Github <a href="https://www.github.com/whereistejas">whereistejas</a>
    </div>
    <div>London, UK.</div>
  </Section>
</div>
