---
import "../styles/global.css";
---

<div
  class="flex flex-col md:flex-row gap-0.1 md:gap-1.5
          md:grid md:grid-cols-[minmax(150px,auto)4fr]
          items-baseline"
>
  <div class="flex flex-col">
    <span class="uppercase text-sm md:text-xl font-medium">
      <slot name="key" />
    </span>
  </div>
  <div class="flex flex-col">
    <div
      class="text-pretty hyphens-auto flex flex-col justify-center gap-0.25 md:gap-0.5"
    >
      <slot name="value" />
    </div>
  </div>
</div>
