<div
  class="flex flex-col md:flex-row
          md:grid md:grid-cols-[minmax(150px,auto)4fr]
          items-baseline"
>
  <div class="flex flex-col">
    <slot name="key" />
  </div>
  <div class="flex flex-col">
    <slot name="value" />
  </div>
</div>
