---
import "../styles/info.css";

interface Props {
  key: string;
}

const { key } = Astro.props;
---

<div class="row">
  <div class="key">
    {key}
  </div>
  <div class="value">
    <slot />
  </div>
</div>
