---
---

<div class="gap-0.1 flex w-full max-w-full flex-col items-baseline md:gap-0.5">
	<div>
		<span
			class="font-regular text-sm text-yellow-700 uppercase md:text-lg dark:text-yellow-600"
		>
			<slot name="key" />
		</span>
	</div>
	<div class="flex max-w-full min-w-0 flex-col">
		<slot name="value" />
	</div>
</div>
