---
interface Props {
  key: string;
}

import "../styles/global.css";

const { key } = Astro.props;
---

<div class="row">
  <div>
    {key}
  </div>
  <div class="value">
    <slot />
  </div>
</div>
