<div
  class="flex flex-col md:flex-row gap-0.5
          md:grid md:grid-cols-[minmax(150px,auto)4fr]
          items-baseline"
>
  <div class="flex flex-col gap-0.5">
    <p class="uppercase">
      <slot name="key" />
    </p>
  </div>
  <div class="flex flex-col gap-0.5">
    <slot name="value" />
  </div>
</div>
