---
interface Props {
  key: string;
  value: string[];
}

const { key, value } = Astro.props;
---

<div class="flex justify-between items-start flex-col md:flex-row">
  <div class="flex justify-start items-center md:w-2/5">{key}</div>
  <div
    class="flex justify-start items-center md:w-3/5 whitespace-pre text-wrap"
    set:html={value.join("<br>")}
  />
</div>
