<div class="flex w-screen h-screen justify-center items-center">
  <div>
    <!-- <p>Showcase</p> -->
    <div class="carousel" data-flickity="">
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
      <div class="carousel-cell"></div>
    </div>
  </div>
</div>
