---
import { Picture } from "astro:assets";
import { idText } from "typescript";

interface Props {
  images: Array<{ idx: number; img: ImageMetadata }>;
}

const { images } = Astro.props as Props;
---

<div class="carousel">
  {
    images.forEach(({ idx, img }) => (
      <div class="picture">
        <Picture src={img} alt={`Picture ${idx}`} />
        <div class="slide_number">
          <p>{`${idx}/${images.length}`}</p>
        </div>
      </div>
    ))
  }
</div>
