---
import "reveal.js/dist/reveal.css";
---

<div class="flex justify-center items-center h-[60vh] w-[90vh]">
  <div class="flex h-full w-full">
    <div class="absolute left-1/2 h-[60vh] w-[45vh] cursor-e-resize"></div>
    <div class="absolute h-[60vh] w-[45vh] cursor-w-resize"></div>
    <div>
      <img src="DSCF0159.jpg" />
    </div>
  </div>
</div>
