---
import { Picture } from "astro:assets";

interface Props {
  images: Array<{idx: number, img: ImageMetadata}>;
}

const { images } = Astro.props as Props;
const last = images.length;
---

<ol
  class="overflow-x-scroll scroll-smooth snap-x snap-mandatory h-[60vh] w-[90vh]"
>
  {
    images.map(({idx, img}) => (
      <li id=`slide${idx}` class="relative flex flex-col snap-start h-full w-full" tabindex="0">
        <div class="relative h-1/2 w-full" >
        <a href={idx == 1 ? `#slide${last}` : `#slide${idx - 1}`} class="absolute h-full w-full hover:cursor-n-resize" ></a>
        </div>
        <div class="relative h-1/2 w-full" >
        <a href={idx == last ? `#slide1` : `#slide${idx + 1}`} class="absolute h-full w-full hover:cursor-s-resize" ></a>
        </div>
        <div class="absolute -z-10 h-full w-full">
          <Picture src={img} alt="" />
        </div>
      </li>
    ))
  }
</ol>
