---
import "../styles/global.css";

const { type, content, href } = Astro.props;
---

<div class="nth-of-type-2:hidden md:nth-of-type-2:block">
  <h4>
    {type === "link" ? <a href={href}>{content}</a> : content}
  </h4>
</div>
