---
import "../styles/global.css";

const { type, content, href } = Astro.props;
---

<div
  class="inline-block
  nth-of-type-[2]:hidden md:nth-of-type-[2]:block
        nth-of-type-[2]:text-center nth-of-type-[2]:m-auto"
>
  <h4>
    {type === "link" ? <a href={href}>{content}</a> : content}
  </h4>
</div>
