---
import "../styles/global.css";

const { flex_start = true } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Like to view source? We might get along email@whereistejas.xyz -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Tejas Sanap</title>
  </head>
  <body style={flex_start ? "justify-content: flex-start;" : ""}>
    <header>
      <slot name="header" />
    </header>

    <main>
      <slot name="main" />
    </main>

    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
