---
import "../styles/global.css";

const { flex_start = true } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Like to view source? We might get along email@whereistejas.xyz -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tejas Sanap</title>
  </head>
  <body
    style={flex_start ? "justify-content: flex-start;" : ""}
    class="h-[100dvh]
    flex flex-col justify-between items-center
    leading-[1.4] font-sans font-[90]
    bg-stone-50 dark:bg-stone-900/99 text-slate-950 dark:text-slate-100"
  >
    <header
      class="top-0 left-0 w-full md:w-48 md:max-w-full
      p-1
      flex flex-row justify-between
      text-xl font-[130]"
    >
      <slot name="header" />
    </header>

    <main
      class="flex flex-col
      w-full md:w-48 md:max-w-full
    p-1
    text-xl font-[90]"
    >
      <slot name="main" />
    </main>

    <footer
      class="bottom-0 left-0
      p-1
      w-full md:w-48 md:max-w-full
      flex flex-row justify-between
      text-xl font-[130]"
    >
      <slot name="footer" />
    </footer>
  </body>
</html>
