---
import PostHog from "../components/posthog.astro";
import "../styles/global.css";

interface Props {
	title: string | undefined;
	bodyClass?: string;
}

const { title, bodyClass } = Astro.props;
---

<html lang="en">
	<head>
		<PostHog />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#fafafa" />
		<meta name="msapplication-navbutton-color" content="#fafafa" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#fafafa" />
		<meta name="apple-mobile-web-app-title" content="Tejas Sanap" />

		<link
			rel="preload"
			href="/InterVariable.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/InterVariable-Italic.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<title>
			{title === undefined ? "Tejas Sanap" : `${title} | Tejas Sanap`}
		</title>
	</head>

	<body class={bodyClass}>
		<!-- Like to view source? We might get along email@whereistejas.xyz -->
		<a rel="me" href="https://hachyderm.io/@whereistejas" hidden>Mastodon</a>

		<header>
			<slot name="header" />
		</header>

		<main>
			<slot name="main" />
		</main>

		<footer>
			<slot name="footer" />
		</footer>
	</body>
</html>
