---
import { ClientRouter } from "astro:transitions";
import PostHog from "../components/posthog.astro";

import "../styles/global.css";

const { flex_start = true, title } = Astro.props;
---

<html lang="en">
  <head>
    <PostHog />
    <!-- Like to view source? We might get along email@whereistejas.xyz -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title === "" ? "Tejas Sanap" : `${title} | Tejas Sanap`}</title>

    <ClientRouter />
  </head>
  <body style={flex_start ? "justify-content: flex-start;" : ""}>
    <header>
      <slot name="header" />
    </header>

    <main>
      <slot name="main" />
    </main>

    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
