---
import "../styles/global.css";

const { flex_start = true } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Like to view source? We might get along email@whereistejas.xyz -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tejas Sanap</title>
  </head>
  <body style={flex_start ? "justify-content: flex-start;" : ""}>
    <header
      class="top-0 left-0 w-full md:w-48 md:max-w-full
      p-1 md:px-0
      flex flex-row justify-between"
    >
      <slot name="header" />
    </header>

    <main class="w-full md:w-48 md:max-w-full">
      <slot name="main" />
    </main>

    <footer
      class="bottom-0 left-0 w-full md:w-48 p-1 md:px-0
      flex flex-row justify-between"
    >
      <slot name="footer" />
    </footer>
  </body>
</html>
