---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "reveal.js/dist/reveal.css";
// import "reveal.js/dist/theme/white.css";
---

<script>
  import Reveal from "reveal.js";
  let deck = new Reveal({
    embedded: true,
    progress: false,
    pause: false,
  });
  deck.initialize();
</script>

<div class="flex flex-col w-screen">
  <div class="absolute z-10 t-0 r-0 p-3">
    <h2>
      {title}
    </h2>
  </div>
  <div class="showcase z-0 h-screen">
    <div class="reveal">
      <div class="slides">
        <section>
          <img class="h-full w-full" src="DSCF3992.jpg" />
        </section>
        <section>
          <img class="h-full w-full" src="DSCF3993.jpg" />
        </section>
        <section>
          <img class="h-full w-full" src="DSCF4002.jpg" />
        </section>
      </div>
    </div>
  </div>
</div>
