---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "reveal.js/dist/reveal.css";
---

<script>
  import Reveal from "reveal.js";
  let deck = new Reveal({
    controls: true,
    embedded: true,
    progress: false,
    pause: false,
    loop: true,
    // scrollActivationWidth: 0,
    // view: "scroll",
    // scrollProgress: true,
    scrollLayout: "compact",
  });
  deck.initialize();
</script>

<div class="flex flex-col w-screen">
  <div class="absolute z-10 t-0 r-0 p-3">
    <p class="text-md md:text-lg">
      {title}
    </p>
  </div>
  <div class="showcase relative z-0">
    <div class="reveal">
      <div class="slides">
        <section>
          <img src="DSCF3992.jpg" />
        </section>
        <section>
          <img src="DSCF3993.jpg" />
        </section>
        <section>
          <img src="DSCF4002.jpg" />
        </section>
      </div>
    </div>
  </div>
</div>
<style>
  :root {
    --r-overlay-element-bg-color: 0, 0, 0;
    --r-overlay-element-fg-color: 220, 220, 220;
  }
  .showcase {
    padding-top: 40px;
    height: 33vh;
    position: relative;
  }
  @media (min-width: 640px) {
    .showcase {
      padding: 0;
      height: 100vh;
    }
  }
</style>
